<div class="container">
  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
  <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

  <%= form_with url: session_path, builder: TailwindFormBuilder, class: "card" do |form| %>
    <%= form.email_field :email_address, required: true, autofocus: true, placeholder: "Enter your email address", value: params[:email_address] %><br>
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
    <div class="flex items-center">
      <%= form.submit "Sign in", class: "flex-1 btn btn-primary mr-1"%>
      <%= link_to "Forgot password?", new_password_path %>
    </div>
  <% end %>
</div>
