<% user_answer = local_assigns[:user_answer] || UserAnswer.new %>

<%= turbo_frame_tag "current_question" do %>
  <%= form_with model: user_answer,
                url: game_user_answers_path(game_id:, question_id: question.id),
                class: "max-w-md mx-auto rounded overflow-hidden shadow-lg bg-white -mt-[20px]",
                data: {turbo: true} do |f| %>
    <div class="px-6 py-4">
      <h2 class="text-2xl"><%= question.content %></h2>
      <% if user_answer.errors.present? %>
        <p class="<%= TailwindHelper::ERROR_CLASSES %> mb-0"><%= user_answer.errors.full_messages %></p>
      <% end %>
    </div>
    <div class="px-6 py-4">
      <% question.choices.each do |choice| %>
        <%= f.radio_button :choice_id, choice.id %> <%= choice.label %>
      <% end %>
    </div>
    <div class="px-6 pt-4 pb-2 text-center">
      <%= f.submit "Répondre", class: [TailwindHelper::BTN_BASE_CLASSES, TailwindHelper::PRIMARY_CLASSES].join(' ')%>
    </div>
  <% end %>
<% end %>