<h1>Bienvenue sur la partie #<%= @game.id %></h1>
<p>Liste des joueurs dans cette partie:</p>
<%= turbo_stream_from "game_#{@game.id}", channel: "GameChannel", data: {id: @game.id} %>
<ul id="users-list"></ul>

<hr/>
<h2>Quizz: <%= @game.quiz.id %></h2>

<% if @game.current_question_id %>
  <%= turbo_stream_from "game_#{@game.id}_current_question" %>
  <%= turbo_frame_tag "current_question", src: game_new_user_answer_path(game_id: @game.id, question_id: @game.current_question_id), load: :lazy do %>
    Chargement de la question...
  <% end %>
<% end %>